<div class="menuCard">
    <mat-grid-list cols="4">
        <mat-grid-tile colspan="1">
            <span style="font-size: 25px;">$ ***</span><mat-icon style="padding-left: 6px;">visibility_off</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="price">
                <span style="padding-top: 5px; color: green;">▲ 59,2%</span>
            </div>
            <mat-icon style="padding-left: 10px;">chevron_right</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-stroked-button color="primary" class="button">
                Ingresar dinero
            </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-stroked-button color="primary" class="button">Transferir dinero</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-stroked-button color="primary" class="button">Sacar efectivo</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-stroked-button color="primary" class="button">Mercado Crédito</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            
        </mat-grid-tile>
    </mat-grid-list>

</div>